@charset "utf-8";
/* CSS Document */


body{
	font-family: PlayfairDisplay;
	font-size: 15px;
	font-weight: 400;
	font-style: normal;
	color: antiquewhite;
	background-color: #0E1DA5;
	margin-left: 25px;
	margin-right: 25px;
	line-height: 170%;
	text-align: center;
	

}
	

ol{
	list-style: decimal-leading-zero;
	list-style-position: inside;
	text-align:center;
	display:contents;
	background-color:
	float: inherit;
	
}

ul{
	text-align: left;
	list-style: circle;
	float: inherit;
	
}

h1{
	font-size: 40px;
	margin-bottom: 40px;
}

span{
	font-size: 30px;
	font-weight: bold;
	background-color: palevioletred;
	padding: 6px 10px;
	display: block;
	border: thin;
	margin-top: 50px;
	margin-bottom: 40px;	
}

form {
    background-color: palevioletred;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
	margin-top: 30px;
}

fieldset {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 15px;
}

legend {
    font-weight: bold;
    padding: 0 10px;
}

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}

  input[type="text"],
  select,
  input[list] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  button {
    background-color: #0078D4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  button:hover {
    background-color: #005fa3;
  }
